@import "tailwindcss";

body{
  cursor: none;
}

/* Cyberpunk themed fonts */
@font-face {
  font-family: "Cyberfont";
  src: url("/fonts/cyber1.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cyberglitch";
  src: url("/fonts/Cyberglitch.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Media Query */
/* Tablet and below */
@media (max-width: 1024px) {
  .cybertext {
    text-shadow:
      4px 4px 0 #ff00ff,
      6px 6px 0 #0ff,
      8px 8px 0 rgba(0,0,0,0.5);
  }
}

/* Mobile only */
@media (max-width: 640px) {
  .cybertext {
    text-shadow:
      2px 2px 0 #ff00ff,
      3px 3px 0 #0ff;
  }
}